@import "_normalize";
@import "_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background: rgb(99, 99, 99);
}

body {
  color: $bodyColor;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.backdrop {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  transition: .5s linear;
}

.backdrop-active {
  opacity: 1;
}

.burger {
  display: flex;
  position: absolute;
  top: 4%;
  right: 5%;
  font-size: 2rem;
  z-index: 2020;
  color: $accent-1;

  .fas {
    display: none;
  }

  .show_icon {
    display: block;
  }
}

.burger:hover {
  cursor: pointer;
}

@media (min-width: 40rem) {
  .burger {
    display: none;
  }
}

.main-nav {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(21, 16, 29, 1);
  z-index: 10;

  .main__nav--item {
    display: none;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    height: 4rem;
  }

  .main__nav--link {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem 2rem;
    letter-spacing: .1rem;
  }

  .main__nav--link:hover {
    color: $accent-3;
  }

  @media (min-width: 40rem) {
    .main__nav--item {
      display: flex;
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  background: #ddd;
  height: 100vh;
  z-index: 2019;
  transform: translateX(-100%);
  transition: transform .5s linear;

  .mobile__nav--items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    list-style-type: none;
    margin: 0 auto;
  }

  .mobile__nav--item {
    margin: 2rem 0;
  }

  .mobile__nav--link {
    margin: 1rem 0;
    text-transform: uppercase;
    font-size: 2rem;
    color: black;
    list-style-type: none;
    text-decoration: none;
  }
}

.mobile-nav__visible {
  transform: translateX(0);
}

.hero {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  .hero__header--text {
    font-size: 1.7rem;
    padding: 1rem;

    @supports (-webkit-background-clip: text) {
      background: linear-gradient(to right, $special, $link);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }

  @media (orientation: landscape) {
    .hero__header--text {
      font-size: 3rem;
    }
  }
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.content {
  display: block;
  padding: .5rem 1rem;
  margin-bottom: 5rem;

  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }

  .content_header {
    font-size: 1.5rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 2rem;
  }

  .specjal {
    text-transform: uppercase;
    color: $accent-2;
  }
}

.sources {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  .sources_item {
    overflow: hidden;
    position: relative;
    background: #fff;
    border-radius: .5rem;

    &:before {
      position: absolute;
      content: '</>';
      right: .5rem;
      font-size: 5rem;
      font-weight: 700;
      opacity: 1;
      bottom: -100%;
      transition: 0.3s ease-in-out bottom;
      transform: rotate(15deg);
      color: $accent-1;
      z-index: 0;

      @supports (-webkit-background-clip: text) {
        background: linear-gradient(to right, $accent-1, $accent-3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
      }
    }

    @media (min-width: 64rem) {
      &:hover:before {
        bottom: -10%;
      }
    }
  }

  @media (max-width: 960px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}

.source_link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #000;
  position: relative;

  .source_title {
    display: block;
    font-size: 1.2rem;
    margin-bottom: .8rem;
  }

  .source_description {
    font-size: .9rem;
    opacity: .8;
  }
}

.footer {
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  color: $accent-1;
  background: #000;
}